@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Webkit browsers */
::-webkit-scrollbar {
  display: none;
}

/* For the entire document */
body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/* Apply to a specific element */
.hide-scrollbar {
  overflow: hidden;  /* Hides both scrollbars */
}

/* Or, if you want to keep functionality */
.hide-scrollbar {
  overflow: auto;  /* Enables scrolling without scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

#content-viewer {
  border-top: 1px solid;
  padding-top: 1rem;
}

#content-viewer h1 {
  font-size: large;
}

#content-viewer h2 {
  font-size: medium;
}

#content-viewer h3 {
  font-size:small;
}

#content-viewer img {
  margin: 1rem 0;
  border-radius: 10px;
}





